@mixin easeOut {
    transition: all 1s ease-out;
}

.header {
    // background-color: yellow;
    padding: 30px 0;
    font-size: 12px;
    color: $color-gray-text;
    font-weight: 500;

    &__logo {
        width: 100px;
    }

    &__icon {
        margin-right: 10px;
        
        @media (min-width: 992px) {
            display: none;
        }

        @media (min-width: 1200px) {
            display: block;
        }
        
    }

    &__search {

        @media (min-width: 1200px) {
            margin-left: -10px;
        }
    }
}

.box {

    &__link {
        color: #0e2b5c;
        
        &--br {
            border-bottom: 1px dotted #0e2b5c;
        }
    }

    &__info {
        text-align: center;
    }

    @media (min-width: 1200px) {
        border-right: 1px solid $color-gray-br;
        padding-right: 20px;
    }
}

.menu {
    list-style: none;
    border-top: 1px solid $color-gray-br;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;

    &__item {
        display: inline-block;
        margin-right: 20px;
    }
}