@mixin easeOut {
    transition: all 1s ease-out;
  }

.header-box {
    background-color: yellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}


// @media (max-width: 576px) {

// }