@mixin easeOut {
    transition: all 1s ease-out;
}

.header {
    // background-color: yellow;
    padding: 30px 0;
    font-size: 12px;
    color: $color-gray-text;
    font-weight: 500;

    &__logo {
        width: 100px;
    }

    &__icon {
        margin-right: 10px;
        
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.box {

    &__link {
        color: #0e2b5c;
        
        &--br {
            border-bottom: 1px dotted #0e2b5c;
        }
    }

    &__info {
        text-align: center;
    }
}

.menu {
    list-style: none;
    border-top: 1px solid #dadbdc;
    margin: 15px 0;

    &__item {
        display: inline-block;
        padding: 15px 0;
        margin-right: 20px;
    }
}