.menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: #81b9bf;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 4;
    transition: transform 1s ease-out;
    transform: scaleX(0);
    transform: translate(0, -150%);

    @media (max-width: 768px) {
        top: 80px;
    }

    &__open {
        transform: translate(0, 100%);
        transform: scaleX(1);
    }

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    
        a {
            text-decoration: none;
        }
    
    }

    &__item { 
        border-bottom: 1px solid black;
        padding: 10px 0 10px 20px;
        align-items: center;

        &--open {
            & .menu-mobile__submenu {
                max-height: 100%;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__icon {
        $transition-duration: .3s;
        width: 16px;
        height: 16px;
        transition: transform $transition-duration;

        &--right {
            transition-delay: $transition-duration / 2.5; 
        }

        &--down {
            margin-left: -15px;
            transform: scaleY(0);
            transition-delay: 0s;
        }

        .menu-mobile__item--open &--right {
            transition-delay: 0s;
            transform: scaleY(0);
        }
        
        .menu-mobile__item--open &--down {
            transition-delay: $transition-duration / 2.5;
            transform: scaleY(1);
        }
    }

    &__iconArrow {
        position: absolute;
        width: 14px;
        height: 14px;
        left: 15px;
        opacity: 0;
    }
}

.menu-mobile__submenu {
    padding: 0;
    list-style: none;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition-property: max-height, opacity, visibility;
    transition-duration: .25s;
}

.submenu-mobile {
    &__item {
        border: none;
    }

    &__container {

        @media (min-width: 576px) {
            display: flex;
            justify-content: space-around;
        }
    }

    &__title {
        padding-top: 8px;
    }
}