.post {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 40px; 
    &__icon {
        color: $color-black;
        padding: 0 10px 0 0;
    }
    &__title{
        margin-top: 0;
    }
}

.fon {
    background-color: #fff;
}