.preview {
    position: relative;
    background-image: url('../../src/images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
  

    &:before {
        content: '';
        position: absolute;
        background-color: transparentize(#776957 /*#A9B2D2*/, .4);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; 
    }
    
    &__content {
        color: #fff;
        text-align: center;
    }

    &__title {
        color: inherit;
    }
    &__p {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 5px 0 5px 0;
        text-transform: capitalize;
        }

    & .bag {
        background-color: $color-primary;
        position: absolute;
        top: 0;
        left:50px;
        text-align: center;
        color: #fff;
        padding:0 5px 5px 5px;
    }
}


.block-loho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    &__p {
        padding: 3px 5px 3px 5px;
    }
}