@import 'normalize';

/* Variables */
@import 'variables';

/* Base */
@import 'base/typography';
@import 'base/button';
@import 'base/card';
@import 'base/carousel-slide';
@import 'base/post';
@import 'base/project';
@import 'base/serve';
@import 'base/support';
@import 'base/carousel';
@import 'base/our-company';

/* Components */
@import 'components/header';
@import 'components/menu-mobile';


body {
    background-color: #ccc;
}