@import 'normalize';

/* Variables */
@import 'variables';

/* Base */
@import 'base/typography';
@import 'base/button';
@import 'base/card';
@import 'base/carousel-slide';
@import 'base/post';
@import 'base/project';
@import 'base/serve';
@import 'base/support';
@import 'base/carousel';
@import 'base/our-company';
@import 'base/services';
@import 'base/solution';
@import 'base/box-img';
@import 'base/footer';
@import 'base/testimonials';

/* Components */
@import 'components/block';
@import 'components/header';
@import 'components/menu-mobile';
@import 'components/info';
@import 'components/footer';


body {
    background-color: #fff;
}

.bg--gray {
    background-color: #ccc;
}