/* Colors */
$color-red:#FA5A4C;
$color-blue: #1EABD5;
$color-yellow: #FED13F;
$color-dark-blue: #231834;
$color-black: #020200;
$color-gray-light: #F3F6F9;
$color-gray: #6C7F98;


/* Fonts */
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont;
$font-family-serif: Georgia;
$font-size-base: 16px;
