/* Colors */
$color-red:#FA5A4C;
$color-blue: #1EABD5;
$color-yellow: #FED13F;
$color-dark-blue: #231834;
$color-black: #020200;
$color-gray-light: #F3F6F9;
$color-gray: #6C7F98;
$color-gray-text: #627792;
$color-gray-br: #dadbdc;
$color-white: #fff;

/* Fonts */
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont;
$font-family-serif: Georgia;
$font-size-base: 16px;

// 
$item-height: 20px;
