.box {
    background-color: $color-gray-light;
    padding: 30px;
    border-radius: 5px;
    text-align: center;

    &__img {
        width: 100%;
        border-radius: 50%;
        margin: 20px 0;
    }

    &__btn{
        display: flex;
        justify-content: center;
    }
}
