@mixin easeOut {
    transition: all 1s ease-out;
}

.menu-btn {
    @include easeOut;

    &__line {
        background-color: $color-gray-text;
        width: 20px;
        height: 2px;
        margin: 0 0 5px 0;
        @include easeOut;
    }
}