.carousel {
    height: 500px;

    &__slide {
        position: relative;
        height: 500px;
        overflow: hidden;
        color: $color-white;
        display: flex;
        align-items: center;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: tomato;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: bottom;
        z-index: -1;

        @media (min-width: 1024px) {
            height: 650px;     
        }
    }
}

.slide {
    &__content {
        padding: 0 4rem;
        max-width: 400px;
        width: 50%;
        box-sizing: content-box;
        z-index: 1;
        font-size: 4vw;
        color: $color-white;
        opacity: 0;
        margin-top: -150px;

        @media (min-width: 900px) {
            font-size: 2rem;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-size: 2.5em; 
        line-height: 0.9em;

        &::after {
            content: "";
            height: 4px;
            width: 60px;
            background-color: rgba(255,255,255,0);
            margin: 10px 0;
        }

        &--center {
            align-items: center;
        }

        &--right {
            align-items: flex-end;
        }
    }

    &__subtitle {
        font-size: 1.5em;
        line-height: 1.2em;
    }

    &__sub-title {
        font-size: 4vw;

        @media (min-width: 900px) {
            font-size: 2rem;
        }
    }

    &__btn {
        padding: 20px 0;
        display: flex;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 2.8vw;

        @media (min-width: 900px) {
            font-size: 1.5rem;
        }

        &--icon {
            z-index: 11;
            margin-left: 15px;
            @media (max-width: 900px) {
                width: 3vw;
                height: 3vw;
            }
        }
    }
}

.slide--center {
    justify-content: center;
    text-align: center;
}

.slide--right{
    justify-content: flex-end;
    text-align: right;
}

.slick-arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next {
    border-radius: 100px 0 0  100px;
    right: 0;
}
.slick-prev {
    border-radius: 0 100px 100px 0;
    left: 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    line-height: 30px;
    display: none;
}

.carousel:hover {

    .slick-arrow {
        background-color: $color-red;

        &:hover {
            background-color: $color-black;
        }
    }

    .slick-prev::before, .slick-next::before {
        display: block;
        height: 24px;
    }
}

.slick-active {
    .slide__content {
        opacity: 1;
        margin-top: 0;
        transition: opacity 2s, margin-top 1s;
    }

    .slide__title::after {
        background-color: $color-white;
        transition: background-color 3s;
    }
}