.slick-arrow {
    // background-color: red;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 3;
}

.slick-next {
    border-radius: 100px 0 0  100px;
    right: 0;
}
.slick-prev {
    border-radius: 0 100px 100px 0;
    left: 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    display: none;
}

.carousel:hover {

    .slick-arrow {
        background-color: red;
        width: 60px;
        height: 60px;

        &:hover {
            background-color: black;
        }
    }

    .slick-prev:before, .slick-next:before {
        display: block;
    }
}