.border {
    position: relative;
    border: none;
    
    &::after {
        content: "";
        top: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 1px solid $color-red;
        position: absolute;
        transition: width .5s;
    }

    &:hover::after {
        transition: width .5s;
        width: 100%;
    }
}

.footer {
    padding: 40px 0;
    font-size: 14px;
    line-height: unset;

    &__link {
        color: $color-blue-text;
        font-weight: 500;

        &--light {
            color: $color-gray-text;

            &:hover {
                color: $color-red;
                text-decoration: none;
            }
        }

        &:hover {
            color: $color-red;
            text-decoration: none;
        }
    }

    &__contact {
        color: $color-gray-text;
        margin-bottom: 30px;
    }

    &__logo {
        margin-bottom: 30px;
        width: 60px;
        height: auto;
    }

    &__social-icons {
        color: $color-gray-text;
        margin-bottom: 30px;
    }

    &__icon {
        margin-right: 5px;
    }

    &__menu {
        padding-left: 0;
        margin-bottom: 30px;
    }

    &__title {
        color: $color-blue-text;
        
        &:hover {
            color: $color-red;
        }
    }

    &__list {
        list-style: none;
        margin-bottom: 8px;
    }

    &__copyright {
        color:  $color-gray-text;
        border-top: 1px solid $color-gray-br;
        padding-top: 30px;
        margin-top: 30px;
        text-align: center;
    }
}