.menu {
    text-transform: uppercase;
    text-align: center;
    &__list {
        list-style-type: none;
        margin: 10px 0 10px 0;
        padding: 0;
    }
    &__link {
        color: $color-black;

        &:hover {
            color: $color-primary;
        }
    }
    & li {
        display: inline;
        margin: 0 10px 0 10px;
    }
}