.our-company {
    background-color: $color-dark-blue;
    box-sizing: border-box;
    padding: 80px 0 200px 0;
    position: relative;

    &__title {
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.2em;
        font-weight: 500;
    }

    &__subtitle {
        color: $color-blue;
    }

    &__text {
        color: $color-text-gray;
    }
}

.explore-company {
    padding: 80px 0;
    text-align: center;
    position: relative;

    @media (max-width: 500px) {
        padding: 45px 0;
    }

    &__text {
        color:$color-gray-text;
    }

    &__link {
        border-bottom: 1px dotted #0e2b5c;
        color: $color-dark-blue;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }      
}

.cards {
    margin-top: -200px !important;
}