.our-company {
    background-color: $color-dark-blue;
    box-sizing: border-box;
    padding: 80px 0 200px 0;
    position: relative;

    &__title {
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.2em;
        font-weight: 500;
    }

    &__subtitle {
        color: $color-blue;
    }

    &__text {
        color: $color-text-gray;
    }
}

.cards {
    margin-top: -200px !important;
}