.post {
    background-color: $color-gray-light;
    margin-bottom: 20px;
    margin-top: 15px;

    &__btn {
        background-color: $color-white;
        color: $color-blue;
        border: 1px solid $color-gray;
        border-radius: 5px;
        margin-top: 30px;
        font-weight: 500;
        padding: 10px 20px;
        width: 100%;
    }

    &__date {
        color: $color-gray-text;
        font-size: 14px;
    }

    &__text {
        color: $color-gray-text;
    }

    &__title {
        color: $color-blue-text;
        font-weight: 600;
    }

    &__image {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            opacity: 0.7;
            background-color: $color-gray;
        }
    }

    &__meta {
        color: $color-white;
        position: absolute;
        z-index: 3;
        bottom: 0;
        padding: 5%;
        display: flex;

        &--avatar {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: $color-text-gray;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        position: relative;
        transition: transform 0.4s;
    }

    &__wrap {
        padding: 20px;
    }

    &:hover {
        .post {
            &__img {
                transform: scale(1.2);
            }
            
            &__image{
                

                &::before {
                    opacity: 0;
                }
            }
        }
    }
}