.post {
    background-color: $color-gray-light;
    margin-bottom: 20px;

    // &__imgs {

    //     &:before {
    //         content: '';
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         position: absolute;
    //         z-index: 2;
    //         opacity: 0.7;
    //         background-color: $color-gray;
    //     }
    // }
    &__meta {
        color: $color-white;
        position: absolute;
        z-index: 3;
        // bottom: 0;

        &--avatar {
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            opacity: 0.7;
            background-color: $color-gray;
        }
    }

    &__wrap {
        padding: 20px;
    }
}