.project {
    padding: 40px;
    width: 350px;
    height: 200px;
    color: $color-white;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
  justify-content: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hsla(150, 40%, 40%, .8);
        z-index: -1;
        border-radius: 4px; 
    }

    &__title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
      

    &__logo {
        max-width: 50%;
    }

}