.project {
    color: $color-white;
    padding: 40px;
    height: 200px;
    margin-top: 40px;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        
    &:hover {
        transition: transform .3s ease-in-out .1s;
        transform: translateY(-6px);
    }

    &::after {
        background-color: hsla(150, 40%, 40%, .6);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 4px; 
    }

    &__title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
      

    &__logo {
        max-width: 50%;
    }

}

.box {
    margin-top: -180px;
}