.support {
    box-sizing: border-box;
    position: relative;
    margin-top: 60px;
    
    &:hover {

        .support__header {
            height: 0;
            
            .support__category {
                transform: translateY(-20px);
            }
        }

        .support__footer {
            height: $item-height
        }
    }

    &__header,
    &__footer,
    &__category {
        overflow: hidden;
        transition: all .2s ease-in-out;
    }
    
    &__header {
        height: $item-height;
    }

    &__img {
        max-width: 100%;
    }

    &__content {
        background-color: $color-white;
        padding: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0, .2);
        text-align: center;
        max-width: 85%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(calc(-100% + 30px));
        position: absolute;
    }

    &__category {
        margin: 0;
    }
      
    &__title {
        margin: 0;
        padding: 5px 0;
    }

    &__footer {
        height: 0;
        overflow: hidden;
    }
    
    &__link {
        margin: 0;
    }

}