.support {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    &__img {
        width: 100%;
    }

    &__box {
        background-color: $color-white;
        z-index: 1;
        bottom: -20;
        padding: 10px 20px;
        box-shadow: 0px 3px 15px #CFD2D1;
        position: absolute;
        text-align: center;
    }

    &__title {
        color: $color-blue;
        font-size: 12px;
    }

}