body {
    background-color: $color-gray-light;
    color: $color-gray;
    font-size: $font-size-base;
    font-family: $font-family, Ubuntu, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    color: $color-black;
}

h2, h4 {
    font-family: $font-family-serif;
    text-transform: capitalize;
}


