html {
    /* Antialiased text rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Enable OpenType kerning */
    font-feature-settings: 'kern' 1;
    text-size-adjust: 100%;
  }

body {
    // color: $color-gray;
    font-size: $font-size-base;
    font-family: $font-family, Ubuntu, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    margin-bottom: 30px;
    font-weight: bold;
}

h3 {
    // font-size: 1.2rem;
    margin-bottom: 10px;
    font-size: 1.8rem;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;

}

h4 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.35em;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

h6 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    margin: 0;
}

a {
    color: #0e2b5c;
}